<h1>Joshua French Resume</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, please click fetch data on the left or the top menu on a mobile device. To recieve the following information:</p>
<ul>
  <li><strong>Years Experience</strong>.</li>
  <li><strong>Pervious Employment</strong>.</li>
  <li><strong>Skills</strong>.</li>
</ul>
