<p *ngIf="!person"><em>Loading...</em></p>

<div *ngIf="person" class="row col-sm-12 align-items-stretch">
  <div class="col-sm-9 justify-content-start">
    <h2><b>{{ person.firstName + " " + person.middleName + " " + person.lastName + " - " + person.title }}</b></h2>
    <h4 *ngIf="person.personLocation.location"><b>{{ person.personLocation.location.cityCounty + ", " +  person.personLocation.location.state }}</b></h4>
  </div>
</div>

<div *ngIf="person" class="row col-sm-12">
  <div *ngIf="chartData.data" class="col-sm-9" style="height:400px;">
    <chart style="height:100% !important" [type]="type" [data]="chartData.data" [options]="options"></chart>
  </div>
  
  <div *ngFor="let pj of person.personJob" class="row col-sm-12">
    <div *ngIf="pj.job" class="row col-sm-12">
      <div class="row col-sm-9">
        <h4><b>{{ pj.job.name }}</b></h4>
        <h6 *ngIf="pj.job.jobLocation[0]"><b>{{ pj.job.jobLocation[0].location.cityCounty + ", " + pj.job.jobLocation[0].location.state }}</b></h6>
      </div>
      <div class="row col-sm-3">
        <h4 *ngIf="pj.job.endYear && pj.job.endMonth"><b>{{ pj.job.startMonth + "/" + pj.job.startYear + " - " + pj.job.endMonth + "/" + pj.job.endYear}}</b></h4>
        <h4 *ngIf="!pj.job.endYear && !pj.job.endMonth"><b>{{ pj.job.startMonth + "/" + pj.job.startYear + " - Present"}}</b></h4>
      </div>
    </div>
    <div *ngIf="pj.job" class="row col-sm-12">
      <div class="row col-sm-1"></div>
      <div class="row col-sm-11">
        {{ pj.job.description }}
      </div>
    </div>
    <div class="row col-sm-12">
      <div class="row col-sm-1"></div>
      <div *ngIf="pj.job" class="row col-sm-11">
        <div class="row col-sm-12">
          <div class="row col-sm-1"></div>
          <div class="row col-sm-11">
            <b>Jod Duties:</b>
          </div>
        </div>
        <div *ngFor="let jd of pj.job.jobDuty" class="row col-sm-12">
          <div class="row col-sm-1"></div>
          <div class="row col-sm-11">
            <ul style="list-style-type:disc">
              <li>{{ jd.duty.description }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
