<p *ngIf="!people"><em>Loading...</em></p>

<div *ngIf="people" class="row col-sm-12 align-items-stretch">
  <div class="col-sm-9 justify-content-start align-items-end">
    <h2><b>{{ people[0].firstName + " " + people[0].middleName + " " + people[0].lastName + " - " + people[0].title }}</b></h2>
  </div>
  <div class="col-sm-3 justify-content-end align-items-end">
    <h4><b>{{ people[0].personLocation[0].location.cityCounty + ", " +  people[0].personLocation[0].location.state }}</b></h4>
  </div>
</div>

<div *ngIf="people" class="row col-sm-12">
  <div class="row col-sm-12">
    <div class="row col-sm-12">
      <div class="row col-sm-1"></div>
      <div class="row col-sm-2">
        <b>Skill</b>
      </div>
      <div class="row col-sm-1">
        <b>Years</b>
      </div>
    </div>
  </div>
  <div *ngFor="let ps of people[0].personSkill" class="row col-sm-12">
    <div *ngIf="ps.skill" class="row col-sm-12">
      <div class="row col-sm-1"></div>
      <div class="row col-sm-2">
        {{ ps.skill.name }}
      </div>
      <div class="row col-sm-1">
        {{ ps.skill.years }}
      </div>
    </div>
  </div>
  <div *ngFor="let pj of people[0].personJob" class="row col-sm-12">
    <div *ngIf="pj.job" class="row col-sm-12">
      <div class="row col-sm-9">
        <h4><b>{{ pj.job.name }}</b></h4>
        <h6><b>{{ pj.job.jobLocation[0].location.cityCounty + ", " + pj.job.jobLocation[0].location.state }}</b></h6>
      </div>
      <div class="row col-sm-3">
        <h4><b>{{ pj.job.startMonth + "/" + pj.job.startYear + " - " + pj.job.endMonth + "/" + pj.job.endYear}}</b></h4>
      </div>
    </div>
    <div class="row col-sm-3">
      {{ pj.job.description }}
    </div>
    <div *ngIf="pj.job" class="row col-sm-12">
      <div *ngFor="let jd of pj.job.jobDuty" class="row col-sm-12">
        <div class="row col-sm-1"></div>
        <div class="row col-sm-11">
          {{ jd.duty.description }}
        </div>
      </div>
    </div>
  </div>
</div>
  
